body{
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;
}

h1{
  text-align: center;
}

.todo-wrapper{
  background: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto ;
  box-shadow: 0px 5px 7px rgb(27, 27, 27);
}

.todo-input{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(78, 78, 78);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px;
  border-color: #eea811;
}

.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-input-item input{
  padding: 8px;
  border: none;
  width: 250px;
}

.todo-input-item input:focus{
  outline: 2px solid rgb(240, 179, 10);
}

.primaryBtn{
  background-color: #eea811;
  color: white;
  border: none;
  border-radius: 18px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer; 
}

.primaryBtn:hover{
  background-color: #eea811;
}

/* .btn-area{
  display: flex;
  justify-content: space-between;
} */

.todo-list-item{
  background-color: rgb(49, 48, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px rgb(43, 42, 42);
}

.todo-list-item h2{
  font-size: 25px;
  color:rgb(240, 179, 10);
  font-weight: bold;
  margin: 0;
}

.todo-list-item p{
  font-size: 14px;
  color: rgb(245, 241, 241);
  margin-top: 8px;
}

.todo-list-btn1{
  padding: 10px;
  border-radius: 35px;
  margin-right: 10px;
  color: green; 
  font-weight: bold; 
  border-color: green;
}

.todo-list-btn2{
  padding: 10px;
  border-radius: 35px;
  margin-right: 10px;
  color: rgb(138, 33, 7);
  font-weight: bold; 
  border-color: rgb(138, 33, 7);
}

.completed {
  text-decoration: line-through; /* Strikethrough text */
  color: gray; /* Gray color for completed items */
  
}